# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# macOS
.DS_Store

# VS Code local configuration
.vscode/

# Testing
.pytest_cache/

# Application builds
build/
dist/
*.app
*.spec
